# Игнорировать виртуальное окружение
venv/

# Игнорировать файл .env с конфиденциальными данными
.env

# Игнорировать файлы и папки, сгенерированные системой
__pycache__/
*.pyc
*.pyo

# Игнорировать файлы логов
*.log

# Игнорировать файлы и папки IDE
.vscode/
.idea/
